* {

    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.body {

    width: 100vw !important;
    overflow-x: hidden;

}

a {

    text-decoration: none;
    color: white;
    font-size: 22px;

}

.img-top {
    width: 100vw;
    max-height: 100vw;

}

.section {
    width: 100vw;

}

.container {
    width: 100vw;

}

.p {
    width: 100vw;
    margin: 0 auto;
}

.row {

    justify-content: center;
}

.navbar {

    color: red;
}

.form {

    width: 80vw;
    background-color: rgba(28, 75, 176, 0.688);
    margin: 0 auto;
    border-radius: 1%;
}

.form {

    width: 80vw;
    background-color: rgba(28, 75, 176, 0.688);
    margin: 0 auto;
    border-radius: 1%;
}

.h1 {

    text-align: center;
}

/* Cambiar de color al pulsar */
.navbar a {
    color: black;
}

.box-shadow {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.navbar a:hover {
    color: red;
}

.text-black {
    color: black;
}

.form {

    width: auto;
    padding-left: 20px;
    padding-right: 20px;

}

.logo-f1-red {

    height: 30px;

}

.footer {

    width: 100vw;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-size: 20px;

}


/* Estilo de logos de redes para contacto*/
.logo_facebook {

    width: 50px;
    height: 40px;

}

.logo_instagram {

    width: 30px;
    height: 30px;

}

.logo_twitter {

    width: 30px;
    height: 30px;

}

.carousel-circuitos {

    align-content: center;
    width: 100vw;
    margin: 0 auto;

}

/*GRID FOOTER*/
.container_footer {

    display: grid;
    width: 100vw;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "red_social1"
        "red_social2"
        "red_social3";
}

.red_social1 {
    grid-area: red_social1;
    margin: auto;
}

.red_social2 {
    grid-area: red_social2;
    margin: auto;
}

.red_social3 {
    grid-area: red_social3;
    margin: auto;
}


@media (min-width: 400px) {


    .carousel-circuitos {

        align-content: center;
        width: 80vw;

    }

    .form {

        width: 60vw;
    }

}


@media (min-width: 600px) {


    .carousel-circuitos {

        align-content: center;
        width: 50vw;

    }

    .form {

        width: 40vw;
    }


    .container_footer {

        display: grid;
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "red_social1 red_social2 red_social3";
    }

    .red_social1 {
        grid-area: red_social1;
        width: 15px;

    }

    .red_social2 {
        grid-area: red_social2;
        width: 15px;
    }

    .red_social3 {
        grid-area: red_social3;
        width: 15px;
    }

}


@media (min-width: 900px) {


    .carousel-circuitos {

        align-content: center;
        width: 30vw;

    }

    .form {

        width: 30vw;
    }


}